#container {
	margin-top: 20px;
	margin-left: 180px;
	margin-right: 180px;

	padding: 10px 130px 10px 130px;

	border-radius: 15px;
	 box-shadow: 10px 10px 5px #888888;
	background: url(sandpaper.jpg);

	text-align: left;


}
h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-bottom: -15px;
}
h3 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	margin-bottom: -10px;

}
hr{
	margin-bottom: -5px;
	height: 3px;
	background-color: black;
	color: black;
}
h2{
	font-size: 22px;
	margin-bottom: -10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
table, th, td{
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
}
th, td{
	padding: 2px;
}
#techskills{
	margin-bottom: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h4{
	font-size: 20px;
	margin-bottom: -10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	margin-bottom: -10px;
}
#school{

	font-size: 18px;
}